@import "~/src/scss/index.scss";

.list-posts-web {
  height: 100%;
  width: 100%;
  padding: 10px;

  .list {
    height: 90%;
  }

  .list-grid-container {
    height: 90%;
    overflow-x: hidden;

    .item {
      width: 200px;
      height: 200px;
      padding: 5px;
    }
  }

  .list-grid-container::-webkit-scrollbar {
    display: none;
  }

  .pagination {
    display: flex;
    justify-content: center;
    a {
      color: $text-light !important;
      opacity: 0.6;

      &.active {
        opacity: 1;
        border-color: $text-light !important;
      }
    }
  }
}
