@import "~/src/scss/index.scss";

.footer-info {
  width: 66.66%;
  color: $text-light;
  display: flex;

  &__logo {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 0.7rem;

    h4 {
      color: $text-light;
      margin: 0 0 5px 0;
    }

    .ui.grid {
      height: 50%;

      .column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        a {
          color: $text-light;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  &__content {
    padding: 5px;
    width: 50%;
    height: 100%;
    text-align: center;
    margin: 0;
    font-size: 0.7rem;
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      .ui.button {
        padding: 0.5rem 1rem 0.5rem !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer-info {
    &__logo {
      display: none;
    }

    &__content {
      width: 100%;
    }
  }
}
