@import "~/src/scss/index.scss";

.exercise {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 10px;

  .ui.card {
    width: 25%;
    min-width: 228px;
    overflow: auto;
    background-color: transparent;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;

    &::-webkit-scrollbar {
      display: none;
    }

    &:hover {
      box-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
    }

    .image {
      height: 50%;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    > .content {
      > .header,
      .meta,
      > .description {
        color: $text-light;
      }

      > .meta {
        opacity: 0.6;
      }
    }
    .extra.content {
      .ui.label {
        background-color: transparent;
        color: $text-light;
        display: flex;
        align-items: center;
        font-size: 1.2rem;

        .detail {
          font-weight: 100;
        }

        i {
          font-size: 2rem;
          margin: 0;
          cursor: pointer;

          &:hover {
            color: $accent-light;
          }
        }
      }
    }

    .label {
      width: 100%;
      text-align: center;
    }
  }

  .contentMain {
    color: $text-light;
    padding: 10px;
    padding-left: 25px;
    width: 75%;
    text-align: justify;
    overflow: auto;

    h1 {
      border-bottom: 1px solid white;
    }
  }
}

.contentMain::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .exercise {
    display: block;
    overflow: auto;

    .ui.card,
    .contentMain {
      width: 100%;
      padding: 10px;
      overflow: hidden;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
