@import "~/src/scss/index.scss";

.list-post-item {
  height: 100%;
  &:hover {
    opacity: 0.6;
  }

  .ui.image {
    border-radius: 20px;
    aspect-ratio: 16/9;
    object-fit: cover;
  }

  h2 {
    font-size: 1.2rem;
    color: $text-light;
    margin: 10px 0 0 0;
    font-weight: normal;
  }

  span {
    color: $text-light;
    opacity: 0.4;
    font-size: 1rem;
  }
}
