// Primary
$primary: #ff5848; // Si
$primary-active: #ffaba3;
$primary-hover: #c8655b;

$secondary: #338aae;
$secondary-active: #578699;
$secondary-hover: #2a7391;

// Accent
$accent-light: #bebebe;
$accent-dark: #3f4140;

// Background
$background-light: #000000; // Si
$background-dark: rgb(32, 32, 32); // Si

// Text
$text-light: #ececec;
