@import "~/src/scss/index.scss";

.ui.menu.admin-menu {
  > .item {
    color: $text-light;

    &:hover,
    &.active:hover {
      color: $text-light;
    }

    &.active {
      color: $text-light;
    }
  }
}
